.sort_bar {
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
  height: 50px;
  width: 750px;
}
li {
  display: inline-block;
  line-height: 30px;
  margin-left: 45px;
  padding: 0 10px;
  cursor: pointer;
}
ul {
  display: inline-block;
  padding-inline-start: 0;
  margin-top: 10px;
}

.active {
  background-color: #e41c77;
  border-radius: 15px;
}

.sort_bar_container {
  margin: 10px;
  padding: 10px;
}

